body {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #202020;
  color: #BEBEBE;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2, h3, h4 {
  color: #333333;
}

h3 {
  margin-left: 10px;
  margin-right: 10px;
}

h4 {
  font-size: 25px;
  align-self: center;
}

fieldset {
  border: none;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  background-color: #d8d8d8;
  border-radius: 5px;
  min-height: 425px;
  max-width: 500px;
}

.quiz-box * {
}

.question {
  min-height: 175px;;
}

.answer-border {
  border: 5px solid #ff8500;
}

.question h3 {
  margin: 0px 10px 0px 10px;
}

#start-btn {
  font-size: 40px;
  font-weight: bolder;
  margin: 15px;
  min-height: 90px;
}

.hide {
  visibility: hidden;
}

.answers {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;                         /* this is necessary to override browser defaults */
  gap: 10px;
  justify-content: space-between;
  min-width: 295px;
  max-width: 700px;
  margin-bottom: 15px;
}

.raw-answer {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-style: bold;
  background-color: #333333;
  color: #f5f3f4;
  border-radius: 5px;
}

.selected-answer {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-style: bold;
  background-color: #333333;
  color: #ff8500;
  border-radius: 5px;
}

.correct-answer {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-style: bold;
  background-color: #1a4301;
  color: #aad576;
  border-radius: 5px;
}

.wrong-answer {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-style: bold;
  background-color: #660708;
  color: #FF785C;
  border-radius: 5px;
}